:root {
    --primary: #4E3742;
    --secondary: #926868;
    --background: #EBDFDC;
    --accent: #BB989A;
    --text: #753E3D;
    --font: "Bitter", sans-serif;
}

body{
    font-family: var(--font);
    background: var(--background);
    font-weight: 500;
}

h1 {
    color: var(--primary);
}

h2, h3 {
    color: var(--secondary);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.background {
    color: var(--text);
}
.accent {
    color: var(--accent);
}

.text {
    color: var(--text);
}

img {
    width: 500px;
    padding: 0.5rem;
}

footer {
    padding: 1rem;
    text-align: center;
}